<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Счетчик</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Подключаем Chart.js -->
</head>
<body>
    <div class="container">
        <h1 class="counter-title">Счетчик</h1>
        <div class="counter-value" id="counter">0</div>
        <button class="increment-button" id="increment-btn">Увеличить счетчик</button>
        
        <!-- График -->
        <div class="chart-container">
            <canvas id="counterChart"></canvas>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>